<div class="quality-results">
    <h1>MODELO DE CALIDAD BOEHM</h1>
    <table>
        <thead>
            <tr>
                <th>Aspecto</th>
                <th>Puntuación</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Características clave del software</td>
                <td>5</td>
                <td>Identifica las características clave del software que son esenciales para el proyecto. Por ejemplo, podrían ser la gestión de estudiantes, profesores, asignaturas, calificaciones, horarios, etc.</td>
            </tr>
            <tr>
                <td>Requisitos de calidad</td>
                <td>4.5</td>
                <td>Definición detallada de los requisitos de calidad para cada característica. Los requisitos pueden incluir la usabilidad, rendimiento, fiabilidad, seguridad, mantenibilidad y portabilidad, entre otros.</td>
            </tr>
            <tr>
                <td>Métricas de calidad</td>
                <td>4.5</td>
                <td>Define métricas específicas para medir cada uno de los requisitos de calidad. Por ejemplo, el tiempo de respuesta de la interfaz de usuario, la tasa de error, la cantidad de tiempo de inactividad, etc.</td>
            </tr>
            <tr>
                <td>Planificación de calidad: </td>
                <td>5</td>
                <td>Establece un plan para implementar y evaluar la calidad en cada etapa del ciclo de vida del proyecto. Esto podría incluir revisiones regulares, pruebas de rendimiento, pruebas de seguridad, etc.</td>
            </tr>
            <tr>
                <td>Diseño y arquitectura</td>
                <td>5</td>
                <td>Asegúrate de que el diseño y la arquitectura del software estén alineados con los requisitos de calidad definidos. Utiliza patrones de diseño adecuados y mejores prácticas de desarrollo.</td>
            </tr>
            <tr>
                <td>Desarrollo</td>
                <td>5</td>
                <td>Sigue prácticas de desarrollo sólidas para garantizar la calidad del código fuente. Utiliza herramientas de análisis estático para detectar posibles problemas.</td>
            </tr>
            <tr>
                <td>Pruebas</td>
                <td>4.5</td>
                <td>Realiza pruebas exhaustivas para verificar si el software cumple con los requisitos de calidad. Esto puede incluir pruebas unitarias, pruebas de integración, pruebas de regresión y pruebas de aceptación.</td>
            </tr>
            <tr>
                <td>Evaluación continua</td>
                <td>5</td>
                <td>Realiza evaluaciones regulares a lo largo del proyecto para medir el progreso y la calidad en relación con los requisitos establecidos. Ajusta el enfoque según sea necesario.</td>
            </tr>
            <tr>
                <td>Capacitación y documentación</td>
                <td>5</td>
                <td>Asegúrate de que el equipo esté capacitado para seguir las prácticas de calidad y proporciona documentación clara para el desarrollo, las pruebas y la resolución de problemas.</td>
            </tr>
            <tr>
                <td>Entrega y mantenimiento</td>
                <td>5</td>
                <td>Después de la implementación, realiza un monitoreo continuo y responde a problemas de calidad en producción. Realiza actualizaciones y mejoras según sea necesario.</td>
            </tr>
        </tbody>
    </table>

    
    <h1 style="margin-top: 40px;">ACCIONES DE MEJORA</h1>
    <ul>
        <li>Revisión continua de los requisitos para su actualización y especificación.</li>
        <li>Mejora de la gestión de configuración para asegurar la trazabilidad y control de versiones.</li>
        <li>Realización de evaluaciones periódicas de riesgos y establecimiento de medidas de mitigación.</li>
        <li>Formalización y trazabilidad de los procesos de verificación y validación.</li>
    </ul>
</div>