<div class="quality-results">
    <h1>HERRAMIENTAS</h1>
    <table>
        <thead>
            <tr>
                <th>Criterio</th>
                <th>Puntuación</th>
                <th>Razón</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sistema de control de versiones</td>
                <td>5</td>
                <td>Se utiliza Git para controlar el versionamiento del código y se ha establecido un flujo de trabajo
                    para la colaboración del equipo.</td>
            </tr>
            <tr>
                <td>Pruebas</td>
                <td>4</td>
                <td>Se generaron reports para para realizar pruebas unitarias y HTTP services para la generación de Mocks 
                    para pruebas Back-end, sin embargo, se podría mejorar el porcentaje de cobertura de pruebas.</td>
            </tr>
            <tr>
                <td>Herramientas para análisis de código</td>
                <td>4</td>
                <td>Se ha utilizado Pylint para realizar análisis de calidad de código, pero se requiere mejorar la
                    integración con el flujo de trabajo para que los resultados sean más visibles y se tomen acciones en
                    consecuencia.</td>
            </tr>
            <tr>
                <td>Herramientas de automatización</td>
                <td>5</td>
                <td>Se utiliza un WebHub para la integración continua y despliegue automatizado, lo que permite reducir
                    errores humanos y acelerar el proceso de despliegue, sin embargo, se podría mejorar la automatización de pruebas.</td>
            </tr>
            <tr>
                <td>Herramientas de gestión de proyectos</td>
                <td>5</td>
                <td>Se utiliza GitHub Projects para la gestión del proyecto, lo que permite tener un registro de los cambios
                    realizados y las tareas pendientes.</td>
            </tr>
        </tbody>
    </table>
</div>
<p class="summary">El equipo utiliza herramientas adecuadas para el control de versiones, pruebas, análisis de código, automatización y
gestión de proyectos. Aunque existen áreas de mejora, en general las herramientas empleadas son efectivas para el
desarrollo del proyecto.</p>