*{
    box-sizing: border-box;

}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 25pt;
    margin-bottom: 5px;
    position: relative;
    padding-bottom: 20px;
}

* {
    box-sizing: border-box;
}

form {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    width: 100%;
}

.acciones {
    width: 100%;
    display: flex;
    justify-content: center;
    grid-column: span 2;
}


.btnEnviar {
    margin-top: 20px;
}

.btnEnviar:enabled {
    background-color:  #20BCD1 !important;
    color: white !important;
}
input {
    resize: none;
  }

button {
    width: 50%;
}
  

