<br><br><br>
<h1>EVALUACIÓN DOCENTE</h1>
<div class="container mt-5">
  <div class="row d-flex justify-content-between" style="margin-left: 10rem; margin-right: 10rem;">
    <div class="col-6">
      <div class="custom-select mb-1">
        <div class="select-header" (click)="toggleSelect()">
          <div class="header-left">
            <span class="input-label filtrar-por">Materia:</span>
          </div>
          <div class="header-right">
            <span class="filtrar-por">{{selectedOption}}</span>
            <i class="arrow-icon" [ngClass]="{'up': isOpen, 'down': !isOpen}"></i>
          </div>
        </div>
        <div class="options" *ngIf="isOpen">
          <div class="option" *ngFor="let option of curso" (click)="selectOption(option)">
            {{ option.nombre_materia }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <p class="nombreDocente">Docente: {{docente}}</p>
    </div>
  </div>
</div>

<div class="contenedor">
  <table class="mat-elevation-z8">
    <thead>
      <tr>
        <th>No. </th>
        <th>Criterio </th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td style="text-align: left;">Al inicio del curso, explica con claridad las políticas, contenidos y objetivos del aprendizaje del curso.
        </td>
        <td><mat-radio-button name="criterio1" value="1"></mat-radio-button></td>
        <td><mat-radio-button name="criterio1" value="2"></mat-radio-button></td>
        <td><mat-radio-button name="criterio1" value="3"></mat-radio-button></td>
        <td><mat-radio-button name="criterio1" value="4"></mat-radio-button></td>
        <td><mat-radio-button name="criterio1" value="5"></mat-radio-button></td>
      </tr>
      <tr>
        <td>2</td>
        <td style="text-align: left;">Resume las ideas fundamentales discutidas, antes de pasar a una nueva unidad o tema.</td>
        <td><mat-radio-button name="criterio2" value="1"></mat-radio-button></td>
        <td><mat-radio-button name="criterio2" value="2"></mat-radio-button></td>
        <td><mat-radio-button name="criterio2" value="3"></mat-radio-button></td>
        <td><mat-radio-button name="criterio2" value="4"></mat-radio-button></td>
        <td><mat-radio-button name="criterio2" value="5"></mat-radio-button></td>
      </tr>
      <tr>
        <td>3</td>
        <td style="text-align: left;">Tiene predisposición para absolver las dudas de los estudiantes dentro y fuera del horario de clase.</td>
        <td><mat-radio-button name="criterio3" value="1"></mat-radio-button></td>
        <td><mat-radio-button name="criterio3" value="2"></mat-radio-button></td>
        <td><mat-radio-button name="criterio3" value="3"></mat-radio-button></td>
        <td><mat-radio-button name="criterio3" value="4"></mat-radio-button></td>
        <td><mat-radio-button name="criterio3" value="5"></mat-radio-button></td>
      </tr>
      <tr>
        <td>4</td>
        <td style="text-align: left;">Desarrolla el contenido de la materia de forma ordenada y comprensible.</td>
        <td><mat-radio-button name="criterio4" value="1"></mat-radio-button></td>
        <td><mat-radio-button name="criterio4" value="2"></mat-radio-button></td>
        <td><mat-radio-button name="criterio4" value="3"></mat-radio-button></td>
        <td><mat-radio-button name="criterio4" value="4"></mat-radio-button></td>
        <td><mat-radio-button name="criterio4" value="5"></mat-radio-button></td>
      </tr>
      <tr>
        <td>5</td>
        <td style="text-align: left;">Cumple con todos los temas y contenidos presentados en el programa al inicio del curso.</td>
        <td><mat-radio-button name="criterio5" value="1"></mat-radio-button></td>
        <td><mat-radio-button name="criterio5" value="2"></mat-radio-button></td>
        <td><mat-radio-button name="criterio5" value="3"></mat-radio-button></td>
        <td><mat-radio-button name="criterio5" value="4"></mat-radio-button></td>
        <td><mat-radio-button name="criterio5" value="5"></mat-radio-button></td>
      </tr>
      <tr>
        <td>6</td>
        <td style="text-align: left;">Estimula la participación activa del estudiante en clase y motiva la investigación bibliográfica.</td>
        <td><mat-radio-button name="criterio6" value="1"></mat-radio-button></td>
        <td><mat-radio-button name="criterio6" value="2"></mat-radio-button></td>
        <td><mat-radio-button name="criterio6" value="3"></mat-radio-button></td>
        <td><mat-radio-button name="criterio6" value="4"></mat-radio-button></td>
        <td><mat-radio-button name="criterio6" value="5"></mat-radio-button></td>
      </tr>
      <tr>
        <td>7</td>
        <td style="text-align: left;">Desarrolla actividades que fomentan el aprendizaje autónomo y colaborativo de los estudiantes.</td>
        <td><mat-radio-button name="criterio7" value="1"></mat-radio-button></td>
        <td><mat-radio-button name="criterio7" value="2"></mat-radio-button></td>
        <td><mat-radio-button name="criterio7" value="3"></mat-radio-button></td>
        <td><mat-radio-button name="criterio7" value="4"></mat-radio-button></td>
        <td><mat-radio-button name="criterio7" value="5"></mat-radio-button></td>
      </tr>
      <tr>
        <td>8</td>
        <td style="text-align: left;">Explica claramente los criterios que utiliza para la evaluación del aprendizaje.</td>
        <td><mat-radio-button name="criterio8" value="1"></mat-radio-button></td>
        <td><mat-radio-button name="criterio8" value="2"></mat-radio-button></td>
        <td><mat-radio-button name="criterio8" value="3"></mat-radio-button></td>
        <td><mat-radio-button name="criterio8" value="4"></mat-radio-button></td>
        <td><mat-radio-button name="criterio8" value="5"></mat-radio-button></td>
      </tr>
      <tr>
        <td>9</td>
        <td style="text-align: left;">Asiste con puntualidad a las actividades académicas.</td>
        <td><mat-radio-button name="criterio9" value="1"></mat-radio-button></td>
        <td><mat-radio-button name="criterio9" value="2"></mat-radio-button></td>
        <td><mat-radio-button name="criterio9" value="3"></mat-radio-button></td>
        <td><mat-radio-button name="criterio9" value="4"></mat-radio-button></td>
        <td><mat-radio-button name="criterio9" value="5"></mat-radio-button></td>
      </tr>
      <tr>
        <td>10</td>
        <td style="text-align: left;">Promueve las relaciones de cordialidad y respeto con y entre los estudiantes.</td>
        <td><mat-radio-button name="criterio10" value="1"></mat-radio-button></td>
        <td><mat-radio-button name="criterio10" value="2"></mat-radio-button></td>
        <td><mat-radio-button name="criterio10" value="3"></mat-radio-button></td>
        <td><mat-radio-button name="criterio10" value="4"></mat-radio-button></td>
        <td><mat-radio-button name="criterio10" value="5"></mat-radio-button></td>
      </tr>
    </tbody>
  </table>

  <section>
    <div class="example-button-row">
      <button [disabled]="!selected" mat-stroked-button (click)="openRegistrar()">Guardar</button>
      <button mat-stroked-button color="primary" (click)="volver()">Cancelar</button>
    </div>
  </section>