<div class="quality-results">
    <h1>GESTIÓN</h1>
    <table>
        <thead>
            <tr>
                <th>Aspecto</th>
                <th>Puntuación</th>
                <th>Razón</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Definición de requisitos</td>
                <td>4</td>
                <td>Los requisitos del software han sido documentados, aunque aún hay margen de mejora en su
                    especificación y seguimiento.</td>
            </tr>
            <tr>
                <td>Planificación de pruebas</td>
                <td>5</td>
                <td>Se han establecido planes de pruebas exhaustivos y se han llevado a cabo pruebas de calidad
                    adecuadas en todas las etapas del ciclo de vida del software.</td>
            </tr>
            <tr>
                <td>Gestión de configuración</td>
                <td>4</td>
                <td>Aunque se han definido procesos para la gestión de configuración, su implementación aún puede
                    mejorarse para asegurar una gestión eficaz de versiones y cambios.</td>
            </tr>
            <tr>
                <td>Gestión de riesgos</td>
                <td>3</td>
                <td>Se han identificado y gestionado los riesgos asociados al desarrollo del software, aunque se pueden
                    establecer mejoras en la evaluación continua de los riesgos y su mitigación.</td>
            </tr>
            <tr>
                <td>Verificación y validación</td>
                <td>4</td>
                <td>Se han llevado a cabo verificaciones y validaciones del software, aunque se puede mejorar la
                    formalidad y trazabilidad de estos procesos.</td>
            </tr>
        </tbody>
    </table>

    
    <h1 style="margin-top: 40px;">ACCIONES DE MEJORA</h1>
    <ul>
        <li>Revisión continua de los requisitos para su actualización y especificación.</li>
        <li>Mejora de la gestión de configuración para asegurar la trazabilidad y control de versiones.</li>
        <li>Realización de evaluaciones periódicas de riesgos y establecimiento de medidas de mitigación.</li>
        <li>Formalización y trazabilidad de los procesos de verificación y validación.</li>
    </ul>
</div>
