<div class="container">
  <h1>MATRICULACIÓN</h1>
  <div *ngIf="!validarMatricula">
    <h2>Estimado estudiante, ud ya se encuentra matriculado en el Ciclo Actual</h2>
  </div>
  <div *ngIf="validarMatricula">
    <mat-stepper [linear]="true" #stepper [orientation]="(stepperOrientation | async)!">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>HORARIO</ng-template>
        <div class="select mt-1">
          <mat-form-field appearance="fill" class="p-2" style="width: 150px;">
            <mat-label>Módulo</mat-label>
            <mat-select [(value)]="selected" (selectionChange)="onSelect($event)" formControlName="select">
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" style="width: 300px;">
            <mat-label>Materia</mat-label>
            <mat-select [value]="asignaturas" (selectionChange)="onSelectMateria($event)" formControlName="select2">
              <mat-option *ngFor="let asignatura of asignaturas" [value]="asignatura">
                {{ asignatura }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="horarioMatriculacion.length != 0 && mostrarHorario && mostrarHorario2">
          <h1>Horarios Disponibles</h1>
          <table mat-table [dataSource]="horarioMatriculacion" class="mat-elevation-z8">
            <ng-container matColumnDef="accion">
              <th mat-header-cell *matHeaderCellDef style="width: 100px;">Agregar</th>
              <td mat-cell *matCellDef="let element" style="width: 80px;">
                <button mat-icon-button (click)="add(element)" style="background-color: transparent !important;">
                  <mat-icon class="add">add</mat-icon>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="paralelo_curso">
              <th mat-header-cell *matHeaderCellDef>Paralelo</th>
              <td mat-cell *matCellDef="let element"> {{element.paralelo_curso}} </td>
            </ng-container>
            <ng-container matColumnDef="curso_cupo">
              <th mat-header-cell *matHeaderCellDef>Cupo</th>
              <td mat-cell *matCellDef="let element"> {{element.cupo_curso}}/40 </td>
            </ng-container>
            <ng-container matColumnDef="dia_horario1">
              <th mat-header-cell *matHeaderCellDef>Lunes</th>
              <td mat-cell *matCellDef="let element"> {{element.horario_ordenado[0].hora}} </td>
            </ng-container>
            <ng-container matColumnDef="dia_horario2">
              <th mat-header-cell *matHeaderCellDef>Martes</th>
              <td mat-cell *matCellDef="let element"> {{element.horario_ordenado[1].hora}} </td>
            </ng-container>
            <ng-container matColumnDef="dia_horario3">
              <th mat-header-cell *matHeaderCellDef>Miercoles</th>
              <td mat-cell *matCellDef="let element"> {{element.horario_ordenado[2].hora}} </td>
            </ng-container>
            <ng-container matColumnDef="dia_horario4">
              <th mat-header-cell *matHeaderCellDef>Jueves</th>
              <td mat-cell *matCellDef="let element"> {{element.horario_ordenado[3].hora}} </td>
            </ng-container>
            <ng-container matColumnDef="dia_horario5">
              <th mat-header-cell *matHeaderCellDef>Viernes</th>
              <td mat-cell *matCellDef="let element"> {{element.horario_ordenado[4].hora}} </td>
            </ng-container>
            <ng-container matColumnDef="dia_horario6">
              <th mat-header-cell *matHeaderCellDef>Sabado</th>
              <td mat-cell *matCellDef="let element"> {{element.horario_ordenado[5].hora}} </td>
            </ng-container>
            <ng-container matColumnDef="dia_horario7">
              <th mat-header-cell *matHeaderCellDef>Domingo</th>
              <td mat-cell *matCellDef="let element"> {{element.horario_ordenado[6].hora}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <div *ngIf="!mostrarHorario">Ha aprobado todo el modulo 1</div>
        <div *ngIf="!mostrarHorario2">No ha completado el modulo 1</div>

        <!-- TABLA 2 -->
        <div *ngIf="horarioMatriculado.length != 0">
          <h1>Horario Seleccionado</h1>
          <table mat-table [dataSource]="horarioMatriculado" class="mat-elevation-z9 f">
            <ng-container matColumnDef="accion">
              <th mat-header-cell *matHeaderCellDef style="width: 100px;">Borrar</th>
              <td mat-cell *matCellDef="let element" style="width: 80px;">
                <button mat-icon-button (click)="delete(element)" style="background-color: transparent !important;">
                  <mat-icon class="add">clear</mat-icon>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="materia">
              <th mat-header-cell *matHeaderCellDef>Materia</th>
              <td mat-cell *matCellDef="let element"> {{element.materia}} </td>
            </ng-container>
            <ng-container matColumnDef="paralelo_curso">
              <th mat-header-cell *matHeaderCellDef>Paralelo</th>
              <td mat-cell *matCellDef="let element"> {{element.paralelo_curso}} </td>
            </ng-container>
            <ng-container matColumnDef="curso_cupo">
              <th mat-header-cell *matHeaderCellDef>Cupo</th>
              <td mat-cell *matCellDef="let element"> {{element.cupo_curso}}/40 </td>
            </ng-container>
            <ng-container matColumnDef="dia_horario1">
              <th mat-header-cell *matHeaderCellDef>Lunes</th>
              <td mat-cell *matCellDef="let element"> {{element.horario_ordenado[0].hora}} </td>
            </ng-container>
            <ng-container matColumnDef="dia_horario2">
              <th mat-header-cell *matHeaderCellDef>Martes</th>
              <td mat-cell *matCellDef="let element"> {{element.horario_ordenado[1].hora}} </td>
            </ng-container>
            <ng-container matColumnDef="dia_horario3">
              <th mat-header-cell *matHeaderCellDef>Miercoles</th>
              <td mat-cell *matCellDef="let element"> {{element.horario_ordenado[2].hora}} </td>
            </ng-container>
            <ng-container matColumnDef="dia_horario4">
              <th mat-header-cell *matHeaderCellDef>Jueves</th>
              <td mat-cell *matCellDef="let element"> {{element.horario_ordenado[3].hora}} </td>
            </ng-container>
            <ng-container matColumnDef="dia_horario5">
              <th mat-header-cell *matHeaderCellDef>Viernes</th>
              <td mat-cell *matCellDef="let element"> {{element.horario_ordenado[4].hora}} </td>
            </ng-container>
            <ng-container matColumnDef="dia_horario6">
              <th mat-header-cell *matHeaderCellDef>Sabado</th>
              <td mat-cell *matCellDef="let element"> {{element.horario_ordenado[5].hora}} </td>
            </ng-container>
            <ng-container matColumnDef="dia_horario7">
              <th mat-header-cell *matHeaderCellDef>Domingo</th>
              <td mat-cell *matCellDef="let element"> {{element.horario_ordenado[6].hora}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
          </table>
        </div>
        <div>
          <button mat-button (click)="volver()">Cancelar</button>
          <button mat-stroked-button matStepperNext *ngIf="horarioMatriculado.length>0"
            color="primary">Siguiente</button>
          <button mat-stroked-button *ngIf="horarioMatriculado.length==0" color="primary">Siguiente</button>
        </div>
      </form>
    </mat-step>

    <!--Pago-->
    <mat-step [stepControl]="tarjetaForm" [editable]="isEditable">
      <form [formGroup]="tarjetaForm">
        <ng-template matStepLabel>PAGO</ng-template>
        <div class="pago">
          <form class="formulario" [formGroup]="tarjetaForm">
            <p class="title">DATOS DE TARJETA</p>
            <label for="card-type">Tipo de tarjeta:</label>
            <select formControlName="secondCtrl" id="card-type" name="card-type">
              <option value=""></option>
              <option value="debito">Débito</option>
              <option value="credito">Crédito</option>
            </select>
            <label for="card-number">Número de tarjeta:</label>
            <input formControlName="numero_tarjeta" type="text" id="card-number" name="card-number" maxlength="16"
              placeholder="XXXX-XXXX-XXXX-XXXX">
            <mat-error *ngIf="tarjetaForm.controls['numero_tarjeta'].hasError('required')">El número de tarjeta es
              obligatorio.
            </mat-error>
            <mat-error *ngIf="tarjetaForm.controls['numero_tarjeta'].hasError('pattern')"> Solo se permiten números en
              el número de tarjeta. caracteres.
            </mat-error>
            <mat-error *ngIf="tarjetaForm.controls['numero_tarjeta'].hasError('maxlength')">El número de tarjeta debe
              tener 16 dígitos. </mat-error>
            <label for="card-name">Nombre del titular:</label>
            <input formControlName="nombre_titular" type="text" id="card-name" name="card-name"
              placeholder="Nombre completo">
            <mat-error *ngIf="tarjetaForm.controls['nombre_titular'].hasError('required')">El nombre del titular es
              obligatorio.
            </mat-error>
            <mat-error *ngIf="tarjetaForm.controls['nombre_titular'].hasError('pattern')"> Solo se permiten letras en el
              nombre del titular.
            </mat-error>
            <label for="card-expiry">Fecha de vencimiento:</label>
            <input formControlName="fecha" type="month" id="card-expiry" name="card-expiry">
            <mat-error *ngIf="tarjetaForm.controls['fecha'].hasError('required')">La fecha de vencimiento es
              obligatoria.
            </mat-error>
            <label for="card-cvv">CVV:</label>
            <input formControlName="cvv" type="text" id="card-cvv" maxlength="3" name="card-cvv" placeholder="XXX">
            <mat-error *ngIf="tarjetaForm.controls['cvv'].hasError('required')">El CVV es obligatorio.
            </mat-error>
            <mat-error *ngIf="tarjetaForm.controls['cvv'].hasError('pattern')"> Solo se permiten números en el CVV.
            </mat-error>
            <mat-error *ngIf="tarjetaForm.controls['cvv'].hasError('maxlength')"> Solo se permiten 3 dígitos en el CVV.
            </mat-error>
          </form>

          <div class="orden">
            <h2 class="title">ORDEN DE PAGO</h2>
            <table>
              <thead>
                <tr>
                  <th style="text-align: center;">Item</th>
                  <th>Cantidad</th>
                  <th>Precio </th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{nombreModulo}}</td>
                  <td>{{horarioMatriculado.length}}</td>
                  <td>$ {{costoUnitario}}.0</td>
                  <td style="text-align: right;">$ {{costoTotal}}.0</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3">Subtotal:</td>
                  <td style="text-align: right;">$ {{costoTotal}}.0</td>
                </tr>
                <tr>
                  <td colspan="3">Descuento%:</td>
                  <td style="text-align: right;">{{descuento}}%</td>
                </tr>
                <tr>
                  <td colspan="3">Total:</td>
                  <td style="text-align: right;">$ {{totalDescuento}}</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>

        <div>
          <button mat-stroked-button (click)="volver()">Cancelar</button>
          <button mat-stroked-button matStepperNext color="primary">Siguiente</button>
        </div>
      </form>

    </mat-step>

    <!--Confirmacion-->
    <mat-step>
      <ng-template matStepLabel>CONFIRMACIÓN</ng-template>
      <p class="title">TU HORARIO</p>
      <div>
        <h1>HORARIO SELECCIONADO</h1>
        <table mat-table [dataSource]="horarioMatriculado" class="mat-elevation-z9 f">          
          <ng-container matColumnDef="materia">
            <th mat-header-cell *matHeaderCellDef>Materia</th>
            <td mat-cell *matCellDef="let element"> {{element.materia}} </td>
          </ng-container>
          <ng-container matColumnDef="paralelo_curso">
            <th mat-header-cell *matHeaderCellDef>Paralelo</th>
            <td mat-cell *matCellDef="let element"> {{element.paralelo_curso}} </td>
          </ng-container>
          <ng-container matColumnDef="modulo">
            <th mat-header-cell *matHeaderCellDef>Cupo</th>
            <td mat-cell *matCellDef="let element"> {{element.cupo_curso}}/40 </td>
          </ng-container>
          <ng-container matColumnDef="dia_horario1">
            <th mat-header-cell *matHeaderCellDef>Lunes</th>
            <td mat-cell *matCellDef="let element"> {{element.horario_ordenado[0].hora}} </td>
          </ng-container>
          <ng-container matColumnDef="dia_horario2">
            <th mat-header-cell *matHeaderCellDef>Martes</th>
            <td mat-cell *matCellDef="let element"> {{element.horario_ordenado[1].hora}} </td>
          </ng-container>
          <ng-container matColumnDef="dia_horario3">
            <th mat-header-cell *matHeaderCellDef>Miercoles</th>
            <td mat-cell *matCellDef="let element"> {{element.horario_ordenado[2].hora}} </td>
          </ng-container>
          <ng-container matColumnDef="dia_horario4">
            <th mat-header-cell *matHeaderCellDef>Jueves</th>
            <td mat-cell *matCellDef="let element"> {{element.horario_ordenado[3].hora}} </td>
          </ng-container>
          <ng-container matColumnDef="dia_horario5">
            <th mat-header-cell *matHeaderCellDef>Viernes</th>
            <td mat-cell *matCellDef="let element"> {{element.horario_ordenado[4].hora}} </td>
          </ng-container>
          <ng-container matColumnDef="dia_horario6">
            <th mat-header-cell *matHeaderCellDef>Sabado</th>
            <td mat-cell *matCellDef="let element"> {{element.horario_ordenado[5].hora}} </td>
          </ng-container>
          <ng-container matColumnDef="dia_horario7">
            <th mat-header-cell *matHeaderCellDef>Domingo</th>
            <td mat-cell *matCellDef="let element"> {{element.horario_ordenado[6].hora}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
        </table>
      </div>
      <br>      
      <h1>ORDEN DE PAGO</h1>
      <div class="orden_pago" style="margin: auto; width: 30%;">
        <table>
          <thead>
            <tr>
              <th style="text-align: center;">Item</th>
              <th>Cantidad</th>
              <th>Precio </th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{nombreModulo}}</td>
              <td>{{horarioMatriculado.length}}</td>
              <td>$ {{costoUnitario}}.0</td>
              <td style="text-align: right;">$ {{costoTotal}}.0</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3">Subtotal:</td>
              <td style="text-align: right;">$ {{costoTotal}}.0</td>
            </tr>
            <tr>
              <td colspan="3">Descuento%:</td>
              <td style="text-align: right;">$ {{descuento}}%</td>
            </tr>
            <tr>
              <td colspan="3">Total:</td>
              <td style="text-align: right;">$ {{totalDescuento}}</td>
            </tr>
          </tfoot>
        </table>
      </div>

      <div>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Finalizar</button>
      </div>
    </mat-step>
  </mat-stepper>
  </div>
</div>
<!--Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <p class="modal-title" style="font-size: 20px; font-weight: bold;" id="exampleModalLabel">CONFIRMACIÓN</p>        
      </div>
      <div class="modal-body d-flex text-center">
        ¿Está seguro de que desea finalizar el proceso de matriculación?
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-secondary rounded-0 d-flex align-items-center justify-content-center" data-bs-dismiss="modal"><span>No</span></button>
        <button type="button" class="btn btn-primary rounded-0 d-flex align-items-center justify-content-center" (click)="finalizar()"><span>Si</span></button>
      </div>
    </div>
  </div>
</div>
