<div class="header2">
  <div class="header">
    <h1 style="padding: 0 0 0 0;">Centro de Formación Artesanal UG</h1>
  </div>
  <div class="header">
    <hr>
  </div>
  <div class="contenedor-menu">
    <div class="pages">
      <nav>
        <ul class="ul">
          <li><a routerLink="/home" routerLinkActive="activeLink">Inicio</a></li>
          <li><a (click)="irDocente()">Docentes</a>
            <ul *ngIf="rol === '2'" class="no-estilo">
              <li><a (click)="irDocenteHorario()" class="li">Mi horario</a></li>
              <li><a (click)="irDocenteCursos()" class="li">Mis cursos</a></li>
              <li><a (click)="irDocenteActa()">Acta de calificaciones</a></li>
            </ul>
          </li>

          <li><a (click)="irEstudiante()" routerLinkActive="activeLink">Estudiantes</a>
            <ul *ngIf="rol === '1'" class="no-estilo">
              <li><a (click)="irEstudianteHorario()" class="li">Mi horario</a></li>
              <li><a (click)="irEstudianteCursos()" class="li">Mis cursos</a></li>
              <li><a (click)="irEstudianteActa()" class="li">Acta de calificaciones</a></li>
              <li><a (click)="irEstudianteEvaluacionDocente()">Evaluación docente</a></li>
            </ul>
          </li>
          <li><a (click)="irCalidad()" routerLinkActive="activeLink">Calidad</a>
            <ul class="no-estilo">
              <li><a (click)="irCalidadDimension()" class="li">Dimensión</a></li>
              <li><a (click)="irCalidadNormas()" class="li">Normas ISO</a></li>
              <li><a (click)="irCalidadGestion()" class="li">Gestión</a></li>
              <li><a (click)="irCalidadAseguramiento()" class="li">Aseguramiento</a></li>
              <li><a (click)="irCalidadherramientas()">Herramientas</a></li>
            </ul>
          </li>
          <li *ngIf="rol === '3'"><a (click)="irAdmin()">Administracion</a>
            <ul class="no-estilo">
              <li><a (click)="irAdminEstudiante()" class="li">Estudiante</a></li>
              <li><a (click)="irAdminDocente()" class="li">Docente</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="login">
      <nav>
        <ul>
          <a *ngIf="active" routerLink="#" routerLinkActive="activeLink">{{user}}
            <i class="fa-solid fa-user-check"></i>
            <img src="./../../../assets/imagen/perfil.png" alt="" width="25px" height="25px"
              style="position: relative; top: 3px;">
            <ul class="no-estilo-2">
              <li><a routerLink="/usuario/mi-cuenta" class="li">Mi cuenta</a></li>
              <li><a href="#" class="li" (click)="logout()">Cerrar Sesion</a></li>
            </ul>
          </a>
          <a *ngIf="!active" routerLink="" routerLinkActive="activeLink" (click)="openDialogSesion()">
            <i class="fa-solid fa-user-check"></i>
            <img src="./../../../assets/imagen/perfil.png" alt="" width="25px" height="25px"
              style="position: relative; top: 3px;">
          </a>
        </ul>
      </nav>
    </div>
  </div>
</div>