.modal-body {
    background-color: white;
}

#botonGuardar {
    background-color: black;
    border-color: black;
    color: white;
}

#botonCancelar {
    background-color: black;
    border-color: black;
    color: white;
}

#botonGuardar:hover {
    background-color: white;
    border-color: black;
    color: black;
}

#botonCancelar:hover {
    background-color: white;
    border-color: black;
    color: black;
}


.texto-negrita {
    font-weight: bold;
}

.texto-normal {
    font-weight: normal;
}

.descripcion {
    line-height: 30px;


}

.icon-display {
    font-size: 100px;
    height: 100px;
    width: 100px;
    color: red;
}