<div class="modal-body">
    <div class="mx-4 mt-4 text-center">
        <div class="d-flex justify-content-center" >
            <mat-icon class="icon-display">warning</mat-icon>
        </div>

        <div class="text-center pt-4">
            <h1 class="modal-title font-weight-bold">¡ADVERTENCIA!</h1>
        </div>




        <p class="descripcion">Estas a punto de eliminar una actividad, recuerda que esta acción es irreversible.</p>



        <div class="d-flex justify-content-center pt-4 pb-4">
            
            <button type="submit" id="botonGuardar" class="btn btn-primary mx-1 rounded-0" type="submit" (click)="borrarActividad()"
                form="addUserForm">Borrar</button>
            <button type="submit" id="botonCancelar" class="btn btn-outline-primary mx-1  rounded-0" type="submit" (click)="activeModal.close()"
                form="addUserForm">Cancelar</button>
        </div>
    </div>


</div>