/*Atributos*/
.atributos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  gap: 25px;
  padding: 30px;
}

.atributo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: 0;
  flex-grow: 1;
  min-width: 250px;
  max-width: 400px;
}

.logo {
  height: 140px;
  width: 140px;
  overflow: hidden;
  background-color: var(--color);
  border-radius: 50%;
  box-shadow: 0 10px 20px -12px rgb(0 0 0 / 42%), 0 3px 20px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
  color: white;
}

.title {
  margin-top: 15px;
  margin-bottom: 0;
}

.atributos mat-icon {
  height: inherit;
  width: inherit;
  padding: 50px;
  font-size: 40px;
  /* overflow: visible; */
}

.banner {
  background-image: url(../../../../assets/img/fondo1.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
  position: relative;
}

.banner::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px;
}

*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  box-sizing: inherit;
}

h1,
p,
a {
  line-height: normal;
  text-align: center;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 25pt;
  margin-bottom: 50px;
  position: relative;
  padding-bottom: 20px;
}


h1:before {
  content: "";
  position: absolute;
  width: 50%;
  bottom: 0;
  left: 25%;
  right: 25%;
  border-bottom: #85e3f0 solid 5px;
}


/* --- ENCABEZADO ---*/
#encabezado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0f1a2c;
  color: white;
}

.imagen-encabezado {
  height: calc(100vh - 49px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../../../../assets/imagen/fondo.png);
  width: 100%;
  opacity: 0.18;
  transition: opacity 2s ease-in-out;
  position: relative;
}

.button {
  margin: 0 !important;
  align-self: center;
  text-decoration: none;
  margin-top: 30px;
  padding: 15px 25px;
  background-color: #20BCD1;
  color: white;
  border: white;
  font-size: 14pt;
  letter-spacing: 2px;
  cursor: pointer;
}

.button2 {
  margin: 0 !important;
  align-self: center;
  text-decoration: none;
  margin-top: 30px;
  padding: 15px 25px;
  background-color: #5c5f5f;
  color: white;
  border: white;
  font-size: 14pt;
  letter-spacing: 2px;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  transition: 0.5s;
  
}



.button:not(hover) {
  background-color: #20BCD1;
  transition: 0.5s;
}

a {
  margin: 0 !important;
  align-self: center;
  text-decoration: none;
  margin-top: 30px;
  padding: 15px 25px;
  background-color: transparent;
  color: black;
  border: 2px solid black;
  font-size: 14pt;
  letter-spacing: 2px;
  cursor: pointer;
}

a:hover {
  background-color: black;
  border: 2px solid black;
  color: white;
  transition: 0.5s;
}

a:not(hover) {
  background-color: transparent;
  border: 2px solid black;
  transition: 0.5s;
}


/*-- NUESTROS PROVEEDORES --*/
.cuerpo-empresas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.contenido-empresas {
  display: flex;
  flex-direction: row;   
  width: 90%;
}

.empresa {  
  width: 100%;   
  margin: auto;
  padding: 5px;  
  position: relative;
  overflow: hidden;    
  height: 100%;
  text-align: center;
}

.modulotitle{
  font-size: larger;
  font-weight: bolder;
}
.empresa p{
  text-align: justify;
}



/* --- SER PROVEEDOR ---*/

.cuerpo-serproveedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  margin-top: 40px;
  background-color: #0f1a2c;
  width: 100%;
  padding: 40px;
}

.contenedor-serproveedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.contenedor-serproveedor-letras {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 60%;
}

.contenedor-serproveedor-letras p {
  text-align: left;
  font-size: 18pt;
  color: rgb(228, 228, 228);
}

.contenedor-serproveedor-letras h1 {
  text-align: left;
  color: rgb(255, 255, 255);
}

/* --- EFECTOS ---*/

.fadeTop {
  opacity: 0;
  transform: translate(0vh, 15vh);
  transition: all 1s;
}

.fadeBottom {
  opacity: 0;
  transform: translate(0vh, -15vh);
  transition: all 1s;
}


@keyframes bajar {
  0% {
      opacity: 0;
      transform: translateY(-50px);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@media screen and (max-width: 992px) {
  .contenedor-serproveedor-letras {
      width: 100%;
      align-items: center;
  }

  .contenedor-serproveedor-letras p,
  .contenedor-serproveedor-letras h1 {
      text-align: center;

  }

}


@media screen and (max-width: 63.9375em) {

  h1,
  .contenedor-serproveedor-letras h1 {
      font-size: 20pt;
  }

  #encabezado h1 {
      font-size: 30pt;
  }


  #encabezado p {
      font-size: 17pt;
  }

  .contenedor-serproveedor-letras p {
      font-size: 15pt;
  }
}


@media screen and (max-width: 586px) {

  .empresa {
      min-width: 130px;
      max-width: 130px;
      min-height: 130px;
      max-height: 130px;
  }

  .contenido-empresas {
      gap: 15px;
  }

  a{
      padding: 10px 15px;
      font-size: 12pt;
  }
}
.contenedor-precios{
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  padding: 40px;
  text-align: justify;
}
.precio1{
  background-color: #F0F0F0;
  width: 100%;
  height: 350px;
  padding: 40px;
  margin: auto;
}

.raya{
  border-bottom: #85e3f0 solid 5px;
}

.precios-empresa{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}
