<div class="banner">
  <div class="banner-text">
    <h1 class="mb-4">CENTRO DE FORMACIÓN ARTESANAL UG</h1>
    <h2 class="mb-4">Comprometidos con la excelencia académica y la formación de líderes innovadores y responsables!</h2>
    <a
      class="button"
      aling="right"
      style="padding: 20px"
      routerLink="/usuario/registro-usuario"
      [ariaDisabled]="false"
      >REGISTRARME</a
    >
  </div>
</div>

<div class="atributos">
  <!-- CURSOS ONLINE -->
  <div class="atributo">
      <div class="logo" style="--color: #1ebdda;">
          <mat-icon>account_balance</mat-icon>
      </div>
      <h4 class="title"><b>CURSOS EN LÍNEA</b></h4>
      <div class="divider"></div>
      <div>
          <p>Estudia desde cualquier lugar con nuestros cursos online de alta calidad.</p>
      </div>
  </div>
  
  <!-- MULTIMEDIA -->
  <div class="atributo">
      <div class="logo" style="--color: #189eb6;">
          <mat-icon>app_registration</mat-icon>
      </div>
      <h4 class="title"><b>UNIDADES MULTIMEDIA</b></h4>
      <div class="divider"></div>
      <div>
          <p>Explora nuevos horizontes de aprendizaje con nuestras unidades multimedia interactivas que estimulan la creatividad y la innovación.</p>
      </div>
  </div>

  <!-- INSCRIBIRSE A CURSOS -->
  <div class="atributo">
      <div class="logo" style="--color: #116f80;">
          <mat-icon>cast_for_education</mat-icon>
      </div>
      <h4 class="title"><b>INSCRÍBETE A CURSOS</b></h4>
      <div class="divider"></div>
      <div>
          <p>Abre la puerta a nuevas oportunidades y expande tus conocimientos inscribiéndote en nuestros cursos.</p>
      </div>
  </div>
</div>

<div class="col text-center mx-2">
  <section class="cuerpo-empresas">
    <h1>SOBRE NOSOTROS</h1>
    <div class="contenido-empresas">
      <div>
        <img src="./../../../assets/img/nosotros.jpg" alt="" style="width: 50%;"/>
      </div>
      <div class="empresa">
        <p>
          Somos una prestigiosa institución, asociada con la Universidad de
          Guayaquil, comprometida con la excelencia académica y la formación
          integral de nuestros estudiantes. Trabajamos en armonía para brindar
          una educación de calidad, fomentando valores éticos y sociales que
          contribuyen al desarrollo de la sociedad.
        </p>
      </div>
    </div>
  </section>

  <section class="cuerpo-empresas">
    <h1 class="mb-1">NUESTRO PROGRAMA</h1>
    <div class="contenedor-precios">
      <div class="precio1">
        <p class="modulotitle">MÓDULO 1</p>
        <div class="raya"></div>
        <ul class="list-group mt-4">
          <li class="list-group-item">Mantenimiento de Computadoras</li>
          <li class="list-group-item">Robótica</li>
          <li class="list-group-item">Desarrollo Web</li>
          <li class="list-group-item">Inglés</li>
          <li class="list-group-item">Cableado Estructurado</li>
        </ul>
        <p class="modulotitle mt-3">$ 300.00</p>
      </div>

      <div class="precio1">
        <p class="modulotitle">MÓDULO 2</p>
        <div class="raya"></div>
        <ul class="list-group mt-4">
          <li class="list-group-item">Base de Datos</li>
          <li class="list-group-item">BigData</li>
          <li class="list-group-item">Machine Learning</li>
          <li class="list-group-item">Finanzas Básicas</li>
          <li class="list-group-item">Derecho Laboral</li>
        </ul>
        <p class="modulotitle mt-3">$ 400.00</p>
      </div>

      <div class="precio1">
        <p class="modulotitle">MÓDULO 3</p>
        <div class="raya"></div>
        <ul class="list-group mt-4">
          <li class="list-group-item">Arquitectura de Computadoras</li>
          <li class="list-group-item">Programación</li>
          <li class="list-group-item">Sistemas Operativos</li>
          <li class="list-group-item">Estadisticas</li>
          <li class="list-group-item">Analitica de Datos</li>
        </ul>
        <p class="modulotitle mt-3">$ 500.00</p>
      </div>
    </div>
  </section>
</div>
