<section class="quality-results">
    <h1>DIMENSIONALIDAD</h1>
    <table>
        <thead>
            <tr>
                <th>Dimensión</th>
                <th>Puntuación</th>
                <th>Razón</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Funcionalidad</td>
                <td>5</td>
                <td>La aplicación cumple con todas las funciones requeridas.</td>
            </tr>
            <tr>
                <td>Usabilidad</td>
                <td>5</td>
                <td>Todas las áreas de la aplicación son intuitiva y fácil de usar.</td>
            </tr>
            <tr>
                <td>Fiabilidad</td>
                <td>4</td>
                <td>La aplicación demostrado ser estable y consistente en su desempeño pero existen aspectos que se pueden mejorar.</td>
            </tr>
            <tr>
                <td>Compatibilidad</td>
                <td>4</td>
                <td>La aplicación ha sido probada en diferentes navegadores y dispositivos y no presenta problemas
                    significativos de compatibilidad.</td>
            </tr>
            <tr>
                <td>Seguridad</td>
                <td>4</td>
                <td>La aplicación cuenta con medidas de seguridad adecuadas para proteger la información del usuario.
                </td>
            </tr>
            <tr>
                <td>Mantenibilidad</td>
                <td>5</td>
                <td>La aplicación ha sido desarrollada siguiendo buenas prácticas de programación y se pueden realizar
                    actualizaciones y mejoras fácilmente.</td>
            </tr>
            <tr>
                <td>Portabilidad</td>
                <td>4</td>
                <td>Algunas áreas de la aplicación pueden ser mejoradas para hacerla más adaptable a diferentes
                    entornos.</td>
            </tr>
            <tr>
                <td>Eficiencia</td>
                <td>4</td>
                <td>La aplicación es rápida y eficiente en su desempeño, pero algunas áreas pueden ser mejoradas para
                    optimizar su rendimiento.</td>
            </tr>
        </tbody>
    </table>
    
</section>
<p class="summary">El sistema obtiene una puntuación alta en usabilidad, fiabilidad y mantenibilidad, aunque hay áreas que pueden ser
mejoradas en compatibilidad, portabilidad y eficiencia.</p>