<div class="container" style="background-color: white;">
    <div class="row">
        <div class="col">
            <div class="contenedor">
                <img src="../../../assets/img/banner.jpg" style="height: 120px">
                <img src="../../../assets/img/logo.png" style="height: 120px">
            </div>
            <app-header></app-header>
            <div class="content">
                <router-outlet></router-outlet>
            </div>
            <footer>
                <app-footer></app-footer>
            </footer>
        </div>
    </div>
</div>

