<div class="banner">
  <div class="banner-text">
    <h1 class="mb-4">DOCENTES</h1>
    <h2 class="mb-4">Únete a nuestro equipo de educadores apasionados y descubre la satisfacción de guiar a la próxima 
      generación de líderes en una universidad que valora la excelencia académica y el crecimiento personal!</h2>
    <a
      class="button"
      aling="right"
      style="padding: 20px"
      routerLink="/usuario/registro-usuario"
      [ariaDisabled]="false"
      >REGISTRARME</a
    >
  </div>
</div>
