.lineaTitulo {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.lineaTitulo::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 50%;
    height: 4px;
    background-color: #20BCD1;
    transform: translateX(-50%);
}

.contenido {
    display: none;
    transition: all 0.3s ease;
}

.desplegado {
    display: block;
    margin-top: 10px;
}

.desplegado2 {
    border: 0px;
}

#botonActividad {
    background-color: black;
    border-color: black;
    color: white;
}

#botonActividad:hover {
    background-color: white;
    border-color: black;
    color: black;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);

}

th {
    background-color: black;
    color: white;
} 

.texto-negrita {
    font-weight: bold;
}

.icon-display {
    font-size: 40px;
    height: 40px;
    width: 40px;
}