*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  box-sizing: inherit;
}

.contenido-managerTable {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contenedor-managerTable {
  width: 100%;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 10px;
}

h1,
p,
a {
  line-height: normal;
  text-align: center;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 25pt;
  margin-bottom: 5px;
  position: relative;
  padding-bottom: 20px;
}

h1:before {
  content: "";
  position: absolute;
  width: 14%;
  bottom: 0;
  left: 42%;
  right: 42%;
  border-bottom: #85e3f0 solid 5px;
}

.container {
  text-align: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}

th {
  background-color: black !important;
  color: white;
  text-align: center;
  font-weight: 500;
}

td {
  text-align: center
}

.contenido-encabezado h1 {
  font-size: 25pt;
  margin: 10px;
  letter-spacing: 2px;
  font-weight: bold;
  letter-spacing: 4px;
}

table {
  width: 100%;
}

.contenido-tabla {
  margin: 0 10%;
  margin-bottom: 10%;
}

.view,
.delete {
  cursor: pointer;
}

.pagos {
  margin: 20px;
  font-weight: bold;
}

.example-container mat-form-field+mat-form-field {
  margin-left: 8px;
}