<div class="container">
    <div
      class="container align.items.justify-content-center rounded bg-white mx-5"
      style="width: 2400px"
    >
      <div class="form-group">
        <label for="exampleInput" class="nombreC">Nombres</label>
        <input
          type="text"
          class="form-control"
          id="exampleInput"
          aria-describedby="exampleInput"
          placeholder="Nombres"
        />
      </div>
      <div class="form-group">
        <label for="exampleInput" class="nombreC">Apellidos</label>
        <input
          type="text"
          class="form-control"
          id="exampleInput2"
          placeholder="Apellidos"
        />
      </div>
      <div class="form-group">
        <label for="exampleInput" class="nombreC">Cedula</label>
        <input
          type="text"
          class="form-control"
          id="exampleInput3"
          placeholder="Cedula"
        />
      </div>
      <div class="form-group">
        <label for="exampleInput" class="nombreC">Fecha de nacimiento</label>
        <input
          type="text"
          class="form-control"
          id="exampleInput3"
          placeholder="fecha_nacimiento"
        />
      </div>

      <div class="form-group">
        <label for="exampleInput" class="nombreC">Edad</label>
        <input
          type="text"
          class="form-control"
          id="exampleInput3"
          placeholder="Edad"
        />
      </div>
     
      <div class="form-group">
        <label for="exampleInput" class="nombreC">Direccion</label>
        <input
          type="text"
          class="form-control"
          id="exampleInput3"
          placeholder="Direccion"
        />
      </div>
      <div class="form-group">
        <label for="exampleInput" class="nombreC">Telefono</label>
        <input
          type="text"
          class="form-control"
          id="exampleInput3"
          placeholder="Telefono"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1" class="nombreC">Email</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Email"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1" class="nombreC"
          >Nivel de educación</label
        >
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Seleccionar</option>
          <option>1er nivel</option>
          <option>2do nivel</option>
          <option>3er nivel</option>
          <option>4to nivel</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInput" class="nombreC">Promedio</label>
        <input
          type="text"
          class="form-control"
          id="exampleInput3"
          placeholder="Promedio"
        />
      </div>
      <form>
        <div class="form-group">
          <label for="exampleFormControlFile1" class="nombreC"
            >Subir su título</label
          ><br /><br />
          <input type="file" class="form-control" id="exampleFormControlFile1" />
        </div>
      </form>
     
    <div
      class="pt-5 text-center align.items.justify-content-center mx-auto text-center"
    >
      <div class="form-group">
        <button type="submit" class="button">Finalizar</button>
        <button type="submit" class="button2">
          Cancelar
        </button>
      </div>
    </div>
  </div>
  <br /><br />
  